doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Full-Stack Through Microservices

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Full-Stack Through Microservices
        h3 <a href="http://twitter.com/matteocollina">@matteocollina</a>

      section(data-camera="fullscreen")
        p Camera not working

      section
        h2.bullet Where do we come from?
        h3.bullet a brief history of distributing services

      section(data-bespoke-state='letters')
        .letter-box
          .bullet

          .row
            span.red R
            span.bullet emote

          .row
            span.red P
            span.bullet rocedure

          .row
            span.red C
            span.bullet all

      section
        img(src='images/sun.png')

        br

        h2 SUN's RPC, basis of NFS

      section
          img(src='images/java.png', style='height: 100%')

          br

          h2 RMI

      section
        img(src='images/dnode.png' style="width: 100%")

      section
        h2 Dnode

        pre
          code.language-javascript.
            var dnode = require('dnode');
            var server = dnode({
                replace: function (s, cb) {
                    cb(s.replace(/[aeiou]{2,}/, 'oo').toUpperCase())
                }
            });
            server.listen(5004);

      section
        h2 Takeaways
        ul
          li request/response pattern
          li built on streams
          li JSON message format
          li works from the browser, too!
          li data must be ready before calling the RPC
          li no live feed, 'no realtime'

      section(data-bespoke-state='letters')
        .letter-box(style="font-size: 42")
          .row
            .red R
          .row
            .red E
          .row
            .red S
          .row
            .red T

      section
        h2 Takeaways
        ul
          li Most of the time not used under Roy's guidelines
          li A much nicer version of RPC?
          li No live feed (Server-Sent Events?)
          li Is WebSocket REST?

      section
        code(data-bespoke-autorun).language-javascript.
          alert(2 + 2)

      section
        h2 Backpressure

        img(src='images/backpressure.png')

        .copyright
          | Image courtesy of&nbsp;
          a(href="http://twitter.com/jlord")
            | @jlord
          | &nbsp;and&nbsp;
          a(href="http://twitter.com/maxogden")
            | @maxogden

      section
        h2 This room temperature
        // TODO copy from mqtt-and node

      section(data-camera="fullscreen")
        p Camera not working

      section
        h2 Graft and jsChan Team
        ul.bullet
          li Adrian Roussow
          li Peter Elger
          li Matteo Collina

      section
        .container
          img(src='images/me.png', style='width: 100%')

      section
        h1 Thanks!
        br
        h3 <a href="mailto:hello@matteocollina.com">hello@matteocollina.com</a>
        h3 <a href="http://twitter.com/matteocollina">@matteocollina</a> on Twitter
        h3 <a href="http://github.com/mcollina">@mcollina</a> on Github
        h3 <a href="http://www.matteocollina.com">www.matteocollina.com</a>

    script(src='build/build.js')
